// A border base class.



// development:
@use "node_modules/@heymarco/sass-class-template/index" as *;

// production:
// @use "../../../node_modules/@heymarco/sass-class-template/index" as *;



$alias              : "%border-base"                        !default;
$class              : ".bd"                                 !default;
$var-root           : ":root"                               !default;
$var-prefix         : "bd"                                  !default;
$var-prefix-base    : ""                                    !default;
$cssvar: make-cssvar($var-prefix, $var-prefix-base);

/* define variables here */



@include declare-cssvar($var-root) {
}



/* begin: general style */
@mixin _style($include) {
}
@mixin style {
    @include _style(true);
}
@include alias($alias) {
    @include _style(false);
}
/* end: general style */



// abstract class => no emit class
// @include class($alias, $class, "");